Repository BinaryStudioAcademy/bsa-2021-watchdog, pull requests merged in 2021-09, with the labels that each got.

#204 Change tile card color to single blue
  frontend/src/app/modules/home/dashboard/tiles/issues-count-tile/issues-count-tile.component.ts
Labels: enhancement, frontend

#210 Export table feature
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/services/table-export.service.ts
  frontend/src/app/modules/home/issues/issue-details/issue-details-page/issue-details-page.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-events/issue-events.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-events/issue-events.component.sass
  frontend/src/app/modules/home/issues/issue-details/issue-events/issue-events.component.ts
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.sass
  frontend/src/app/modules/home/issues/issues.component.ts
  frontend/src/app/modules/members/members-page/members-page.component.html
  frontend/src/app/modules/members/members-page/members-page.component.sass
  frontend/src/app/modules/members/members-page/members-page.component.ts
  frontend/src/app/shared/models/export/IssueInfoExport.ts
  frontend/src/app/shared/models/export/IssueMessageExport.ts
  frontend/src/app/shared/models/export/MemberExport.ts
Labels: enhancement, frontend

#217 Issues page status tabs
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/IssuesController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IIssueService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/IssueService.cs
  frontend/src/app/core/services/http-internal.service.ts
  frontend/src/app/core/services/issue.service.ts
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.sass
  frontend/src/app/modules/home/issues/issues.component.ts
Labels: enhancement, frontend, backend

#216 Feature/stackoverflow integration
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/IssuesController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/MappingProfiles/IssueProfile.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IIssueService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/IssueService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/StackExchangeService.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/IssueSolution/IssueItemSoution.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/IssueSolution/IssueItemSoutionDto.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/IssueSolution/IssueSolution.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/IssueSolution/IssueSolutionDto.cs
  frontend/src/app/core/services/issue.service.ts
  frontend/src/app/modules/home/issues/issue-details/issue-details-page/issue-details-page.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-details-page/issue-details-page.component.sass
  frontend/src/app/modules/home/issues/issue-details/issue-details-page/issue-details-page.component.ts
  frontend/src/app/shared/models/issue/issue-solution/issue-solution-item.ts
  frontend/src/app/shared/models/issue/issue-solution/issue-solution.ts
Labels: enhancement, frontend, backend

#220 Hot fix select application -> select project
  frontend/src/app/modules/home/modals/tiles/count-issues/add-edit-count-issues-tile/add-edit-count-issues-tile.component.html
Labels: bug

#219 Feature/visited countries analytics
  backend/Watchdog.Collector/Watchdog.Collector.API/Controllers/IssuesController.cs
  backend/Watchdog.Collector/Watchdog.Collector.API/Extensions/ServiceCollectionExtensions.cs
  backend/Watchdog.Collector/Watchdog.Collector.API/appsettings.json
  backend/Watchdog.Collector/Watchdog.Collector.BLL/Services/Abstract/IElasticWriteService.cs
  backend/Watchdog.Collector/Watchdog.Collector.BLL/Services/ElasticWriteService.cs
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/ApplicationsController.cs
  backend/Watchdog.Core/Watchdog.Core.API/Extensions/ServiceCollectionExtensions.cs
  backend/Watchdog.Core/Watchdog.Core.API/appsettings.json
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IApplicationService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/ApplicationService.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/Application/CountryInfoDto.cs
  backend/Watchdog.Models.Shared/Analytics/CountryInfo.cs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/services/project.service.ts
  frontend/src/app/modules/home/home-page/home-page.component.sass
  frontend/src/app/modules/home/projects/edit/edit.component.html
  frontend/src/app/modules/home/projects/edit/edit.component.ts
  frontend/src/app/modules/home/projects/project-analytics/project-analytics.component.html
  frontend/src/app/modules/home/projects/project-analytics/project-analytics.component.sass
  frontend/src/app/modules/home/projects/project-analytics/project-analytics.component.ts
  frontend/src/app/modules/home/projects/projects.module.ts
  frontend/src/app/modules/home/projects/projects/projects.component.html
  frontend/src/app/modules/home/projects/projects/projects.component.sass
  frontend/src/app/shared/models/charts/google-chart.options.ts
  frontend/src/app/shared/models/projects/country-info.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/styles/variables.sass
Labels: frontend, backend

#223 Feature/test tiles list
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/LoaderTestService.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/LoaderTest/LoaderTestDto.cs
  frontend/src/app/modules/home/load-testing/test-settings/test-settings.component.html
  frontend/src/app/modules/home/load-testing/test-settings/test-settings.component.sass
  frontend/src/app/modules/home/load-testing/tests/tests.component.html
  frontend/src/app/modules/home/load-testing/tests/tests.component.sass
  frontend/src/app/shared/models/test/test.ts
Labels: enhancement, frontend, backend

#224 Fix title size
  frontend/src/app/modules/home/issues/issue-details/issue-details-page/issue-details-page.component.sass
Labels: bug, frontend

#222 Landing platforms
  frontend/src/app/modules/landing/components/landing-platforms/landing-platforms.component.ts
Labels: bug

#226 Replace space to dash in each tag for stack exchange query
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/StackExchangeService.cs
Labels: bug, backend

#230 Issues page template rework
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.sass
Labels: bug, frontend

#229 Hotfix/lazy loading
  backend/Watchdog.Collector/Watchdog.Collector.API/Extensions/ServiceCollectionExtensions.cs
  backend/Watchdog.Collector/Watchdog.Collector.BLL/Services/ElasticWriteService.cs
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/IssuesController.cs
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/MembersController.cs
  backend/Watchdog.Core/Watchdog.Core.API/Startup.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Extensions/TableFilterExtensions.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IIssueService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/IssueService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/MemberService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/StackExchangeService.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/Issue/IssueLazyLoadDto.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/Members/MemberDto.cs
  backend/Watchdog.Notifier/Watchdog.Notifier.BLL/Services/CoreIssuesQueueConsumerService.cs
  frontend/src/app/core/services/issue.service.ts
  frontend/src/app/core/services/issues.utils.ts
  frontend/src/app/core/services/member.service.ts
  frontend/src/app/core/services/members.utils.ts
  frontend/src/app/modules/home/home-page/home-page.component.sass
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.ts
  frontend/src/app/modules/members/members-page/members-page.component.html
  frontend/src/app/modules/members/members-page/members-page.component.ts
  frontend/src/app/shared/models/issue/issue-table-item.ts
Labels: bug, backend, database

#232 Added current time into the file name + refactoring
  frontend/src/app/core/services/table-export.service.ts
Labels: bug, enhancement, frontend

#233 Issue page count badges
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/IssuesController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IIssueService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/IssueService.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/Issue/CountOfIssuesByStatusDto.cs
  frontend/src/app/core/services/issue.service.ts
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.ts
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.sass
  frontend/src/app/modules/home/issues/issues.component.ts
  frontend/src/app/shared/models/issue/count-of-issues-by-status.ts
Labels: enhancement, frontend, backend

#236 Fixed tiles return bug, added cursor move icon to move button
  frontend/src/app/core/utils/tile.utils.ts
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/dashboard.component.sass
  frontend/src/app/modules/home/dashboard/dashboard.component.ts
  frontend/src/app/modules/home/dashboard/tile-menu/tile-menu.component.ts
  frontend/src/app/modules/home/dashboard/tiles/tile-header/tile-header.component.sass
Labels: bug, frontend

#234 Feture/ shared issues module
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/IssuesController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IIssueService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/IssueService.cs
  frontend/src/app/core/services/issue.service.ts
  frontend/src/app/modules/home/home-routing.module.ts
  frontend/src/app/modules/home/home.module.ts
  frontend/src/app/modules/home/issues/issue-details/data/issue-details-data.ts
  frontend/src/app/modules/home/issues/issues.module.ts
  frontend/src/app/modules/home/projects/create-project/create-project.component.sass
  frontend/src/app/modules/home/projects/edit/edit.component.html
  frontend/src/app/modules/home/projects/edit/edit.component.sass
  frontend/src/app/modules/home/projects/projects.module.ts
  frontend/src/app/shared/models/issue/enums/issue-select.ts
  frontend/src/app/shared/modules/issues/assignee/assignee.component.html
  frontend/src/app/shared/modules/issues/assignee/assignee.component.sass
  frontend/src/app/shared/modules/issues/assignee/assignee.component.ts
  frontend/src/app/shared/modules/issues/data/issue-dropdown-data.service.ts
  frontend/src/app/shared/modules/issues/data/models/issue-select.dropdown.ts
  frontend/src/app/shared/modules/issues/data/models/issue-status.dropdown.ts
  frontend/src/app/shared/modules/issues/issue-details/breadcrumbs/breadcrumbs.component.html
  frontend/src/app/shared/modules/issues/issue-details/breadcrumbs/breadcrumbs.component.sass
  frontend/src/app/shared/modules/issues/issue-details/breadcrumbs/breadcrumbs.component.ts
  frontend/src/app/shared/modules/issues/issue-details/issue-details-page/issue-details-page.component.html
  frontend/src/app/shared/modules/issues/issue-details/issue-details-page/issue-details-page.component.sass
  frontend/src/app/shared/modules/issues/issue-details/issue-details-page/issue-details-page.component.ts
  frontend/src/app/shared/modules/issues/issue-details/issue-details/issue-details.component.html
  frontend/src/app/shared/modules/issues/issue-details/issue-details/issue-details.component.sass
  frontend/src/app/shared/modules/issues/issue-details/issue-details/issue-details.component.ts
  frontend/src/app/shared/modules/issues/issue-details/issue-environment/issue-environment.component.html
  frontend/src/app/shared/modules/issues/issue-details/issue-environment/issue-environment.component.sass
  frontend/src/app/shared/modules/issues/issue-details/issue-environment/issue-environment.component.ts
  frontend/src/app/shared/modules/issues/issue-details/issue-events/issue-events.component.html
  frontend/src/app/shared/modules/issues/issue-details/issue-events/issue-events.component.sass
  frontend/src/app/shared/modules/issues/issue-details/issue-events/issue-events.component.ts
  frontend/src/app/shared/modules/issues/issue-details/issue-http/issue-http.component.html
  frontend/src/app/shared/modules/issues/issue-details/issue-http/issue-http.component.sass
  frontend/src/app/shared/modules/issues/issue-details/issue-http/issue-http.component.ts
  frontend/src/app/shared/modules/issues/issues-routing.module.ts
  frontend/src/app/shared/modules/issues/issues.component.html
  frontend/src/app/shared/modules/issues/issues.component.sass
  frontend/src/app/shared/modules/issues/issues.component.ts
  frontend/src/app/shared/modules/issues/issues.module.ts
  frontend/src/styles/variables.sass
Labels: frontend, backend

#244 Fix runHubs
  frontend/src/app/modules/home/home-page/home-page.component.ts
Labels: bug

#241 Feature/project listening
  backend/Watchdog.Collector/Watchdog.Collector.API/appsettings.Development.json
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/ApplicationsController.cs
  backend/Watchdog.Core/Watchdog.Core.API/Watchdog.Core.API.csproj
  backend/Watchdog.Core/Watchdog.Core.API/appsettings.Development.json
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IApplicationService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/ApplicationService.cs
  backend/Watchdog.Loader/Watchdog.Loader.API/Startup.cs
  backend/Watchdog.Loader/Watchdog.Loader.API/Watchdog.Loader.API.csproj
  backend/Watchdog.Loader/Watchdog.Loader.API/appsettings.Development.json
  backend/Watchdog.Notifier/Watchdog.Notifier.API/Watchdog.Notifier.API.csproj
  backend/Watchdog.Notifier/Watchdog.Notifier.API/appsettings.Development.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/shared/modules/issues/issue-details/issue-http/issue-http.component.html
  frontend/src/main.ts
Labels: enhancement, frontend, backend

#246 Fixed creating first tile
  frontend/src/app/core/services/dialogs/tile-dialog.service.ts
Labels: bug, frontend

#247 Add load test service
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/LoaderTestsController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/ILoaderTestService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/LoaderTestService.cs
  backend/Watchdog.Loader/Watchdog.Loader.API/Extensions/ServiceCollectionExtensions.cs
  backend/Watchdog.Loader/Watchdog.Loader.API/appsettings.json
  backend/Watchdog.Loader/Watchdog.Loader.BLL/Helpers/TimerHelper.cs
  backend/Watchdog.Loader/Watchdog.Loader.BLL/Services/Abstract/IElasticService.cs
  backend/Watchdog.Loader/Watchdog.Loader.BLL/Services/ElasticService.cs
  backend/Watchdog.Loader/Watchdog.Loader.BLL/Services/LoaderConsumerService.cs
  backend/Watchdog.Loader/Watchdog.Loader.BLL/Services/StartService.cs
  backend/Watchdog.Loader/Watchdog.Loader.BLL/Watchdog.Loader.BLL.csproj
  backend/Watchdog.Models.Shared/Loader/Request.cs
  backend/Watchdog.Models.Shared/Loader/TestResult.cs
  frontend/src/app/core/services/http-internal.service.ts
  frontend/src/app/core/services/test.service.ts
  frontend/src/app/modules/home/load-testing/test-settings/test-settings.component.html
  frontend/src/app/modules/home/load-testing/test-settings/test-settings.component.ts
  frontend/src/app/modules/home/load-testing/test-settings/test-settings.constant.ts
Labels: enhancement, backend

#249 Fix duplicated requests
  frontend/src/app/shared/modules/issues/issues.component.html
  frontend/src/app/shared/modules/issues/issues.component.ts
Labels: bug, frontend

#239 Feature/export chart
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/services/export-tile.service.ts
  frontend/src/app/modules/home/dashboard/tiles/ExportTypes.ts
  frontend/src/app/modules/home/dashboard/tiles/heat-map/heat-map.component.html
  frontend/src/app/modules/home/dashboard/tiles/heat-map/heat-map.component.ts
  frontend/src/app/modules/home/dashboard/tiles/issues-count-tile/issues-count-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/issues-count-tile/issues-count-tile.component.ts
  frontend/src/app/modules/home/dashboard/tiles/issues-per-time-tile/issues-per-time-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/issues-per-time-tile/issues-per-time-tile.component.ts
  frontend/src/app/modules/home/dashboard/tiles/tile-header/tile-header.component.html
  frontend/src/app/modules/home/dashboard/tiles/tile-header/tile-header.component.sass
  frontend/src/app/modules/home/dashboard/tiles/tile-header/tile-header.component.ts
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.ts
  frontend/src/app/shared/models/tile/enums/export-type.ts
Labels: enhancement, frontend

#252 Hot fix export top-active-issues
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.ts
Labels: bug

#253 Added .NET support
  frontend/src/app/modules/home/projects/edit/configure/configurations/asp-net-core/asp-net-core.constants.ts
  frontend/src/app/modules/home/projects/edit/configure/configurations/dot-net/dot-net.component.html
  frontend/src/app/modules/home/projects/edit/configure/configurations/dot-net/dot-net.component.ts
  frontend/src/app/modules/home/projects/edit/configure/configurations/dot-net/dot-net.constants.ts
  frontend/src/app/modules/home/projects/edit/configure/configure-wrapper/configure-wrapper.component.html
  frontend/src/app/modules/home/projects/projects.module.ts
Labels: frontend, backend

#255 Feature/common tile
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/TilesController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/UserService.cs
  backend/Watchdog.Core/Watchdog.Core.DAL/Context/EntityConfigurations/TileConfig.cs
  backend/Watchdog.Core/Watchdog.Core.DAL/Entities/Tile.cs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/dashboard.component.ts
  frontend/src/app/modules/home/dashboard/tiles/ExportTypes.ts
  frontend/src/app/modules/home/dashboard/tiles/base-tile/base-tile.component.ts
  frontend/src/app/modules/home/dashboard/tiles/common-tile/common-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/common-tile/common-tile.component.sass
  frontend/src/app/modules/home/dashboard/tiles/common-tile/common-tile.component.ts
  frontend/src/app/modules/home/dashboard/tiles/heat-map/heat-map.component.html
  frontend/src/app/modules/home/dashboard/tiles/heat-map/heat-map.component.sass
  frontend/src/app/modules/home/dashboard/tiles/heat-map/heat-map.component.ts
  frontend/src/app/modules/home/dashboard/tiles/issues-count-tile/issues-count-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/issues-count-tile/issues-count-tile.component.sass
  frontend/src/app/modules/home/dashboard/tiles/issues-count-tile/issues-count-tile.component.ts
  frontend/src/app/modules/home/dashboard/tiles/issues-per-time-tile/issues-per-time-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/issues-per-time-tile/issues-per-time-tile.component.sass
  frontend/src/app/modules/home/dashboard/tiles/issues-per-time-tile/issues-per-time-tile.component.ts
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.sass
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.ts
  frontend/src/app/modules/home/home.module.ts
  frontend/src/app/modules/home/modals/tiles/add-edit-modal-styles.sass
  frontend/src/app/modules/home/modals/tiles/commom-edit-tile/commom-edit-tile.component.html
  frontend/src/app/modules/home/modals/tiles/commom-edit-tile/commom-edit-tile.component.ts
  frontend/src/app/modules/home/modals/tiles/count-issues/add-edit-count-issues-tile/add-edit-count-issues-tile.component.html
  frontend/src/app/modules/home/modals/tiles/count-issues/add-edit-count-issues-tile/add-edit-count-issues-tile.component.ts
  frontend/src/app/modules/home/modals/tiles/heat-map/add-edit-heat-map-tile/add-edit-heat-map-tile.component.html
  frontend/src/app/modules/home/modals/tiles/heat-map/add-edit-heat-map-tile/add-edit-heat-map-tile.component.ts
  frontend/src/app/modules/home/modals/tiles/issues-per-time/add-edit-issues-per-time-tile/add-edit-issues-per-time-tile.component.html
  frontend/src/app/modules/home/modals/tiles/issues-per-time/add-edit-issues-per-time-tile/add-edit-issues-per-time-tile.component.ts
  frontend/src/app/modules/home/modals/tiles/top-active-issues/add-edit-top-active-issues-tile/add-edit-top-active-issues-tile.component.html
  frontend/src/app/modules/home/modals/tiles/top-active-issues/add-edit-top-active-issues-tile/add-edit-top-active-issues-tile.component.ts
  frontend/src/app/shared/components/charts/charts.component.sass
  frontend/src/app/shared/components/charts/charts.component.ts
  frontend/src/app/shared/models/tile/tile.ts
Labels: frontend

#257 Landing cards info
  frontend/src/app/modules/landing/components/landing-content/landing-content.component.ts
Labels: enhancement, frontend

#260 Fix export in Pdf after add tile size
  frontend/src/app/core/services/export-tile.service.ts
Labels: bug

#261 Change site icon
  frontend/angular.json
  frontend/src/assets/site-icon.svg
  frontend/src/favicon.ico
  frontend/src/index.html
Labels: frontend

#264 Fix/owner editing
  frontend/src/app/modules/members/members-page/members-page.component.html
  frontend/src/app/modules/members/members-page/members-page.component.ts
  frontend/src/app/shared/constants/membersRoleIds.ts
Labels: bug

#263 Feature/viewer access
  frontend/src/app/core/utils/access.utils.ts
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/dashboard.component.ts
  frontend/src/app/modules/home/home-page/home-page.component.html
  frontend/src/app/modules/home/home-page/home-page.component.ts
  frontend/src/app/modules/home/load-testing/test-settings/test-settings.component.html
  frontend/src/app/modules/home/load-testing/test-settings/test-settings.component.ts
  frontend/src/app/modules/home/load-testing/tests/tests.component.html
  frontend/src/app/modules/home/load-testing/tests/tests.component.ts
  frontend/src/app/modules/home/organization/organization-settings/membership-settings/membership-settings.component.ts
  frontend/src/app/modules/home/projects/edit/edit.component.html
  frontend/src/app/modules/home/projects/edit/edit.component.ts
  frontend/src/app/modules/home/projects/projects/projects.component.html
  frontend/src/app/modules/home/projects/projects/projects.component.ts
  frontend/src/app/modules/members/invite/invite.component.ts
  frontend/src/app/modules/members/members-page/members-page.component.ts
  frontend/src/app/modules/team/team-info/team-info.component.html
  frontend/src/app/modules/team/team-info/team-info.component.ts
  frontend/src/app/modules/team/team-info/team-members/team-members.component.html
  frontend/src/app/modules/team/team-info/team-members/team-members.component.ts
  frontend/src/app/modules/team/team-info/team-projects/team-projects.component.html
  frontend/src/app/modules/team/team-info/team-projects/team-projects.component.ts
  frontend/src/app/modules/team/team.style.sass
  frontend/src/app/modules/team/teams/other-teams/other-teams.component.ts
  frontend/src/app/modules/team/teams/teams-panel.template.html
  frontend/src/app/modules/team/teams/teams.component.html
  frontend/src/app/modules/team/teams/teams.component.ts
  frontend/src/app/modules/team/teams/user-teams/user-teams.component.ts
  frontend/src/app/shared/constants/member-roles.ts
  frontend/src/app/shared/modules/issues/issue-details/issue-details-page/issue-details-page.component.html
  frontend/src/app/shared/modules/issues/issue-details/issue-details-page/issue-details-page.component.ts
Labels: enhancement, frontend

#251 Feature/most common countries tile
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/StackExchangeService.cs
  backend/Watchdog.Core/Watchdog.Core.Common/Enums/Tiles/TileType.cs
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/services/dialogs/tile-dialog.service.ts
  frontend/src/app/core/utils/tile.utils.ts
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/tile-menu/tile-menu.component.html
  frontend/src/app/modules/home/dashboard/tile-menu/tile-menu.component.ts
  frontend/src/app/modules/home/dashboard/tiles/common-tile/common-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/common-tile/common-tile.component.sass
  frontend/src/app/modules/home/dashboard/tiles/most-common-countries-tile/most-common-countries-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/most-common-countries-tile/most-common-countries-tile.component.sass
  frontend/src/app/modules/home/dashboard/tiles/most-common-countries-tile/most-common-countries-tile.component.ts
  frontend/src/app/modules/home/home.module.ts
  frontend/src/app/modules/home/modals/tiles/most-common-countries/add-edit-common-countries-tile/add-edit-common-countries-tile.component.html
  frontend/src/app/modules/home/modals/tiles/most-common-countries/add-edit-common-countries-tile/add-edit-common-countries-tile.component.ts
  frontend/src/app/shared/models/tile/enums/tile-type.ts
  frontend/src/app/shared/models/tile/settings/most-common-countries-settings.ts
  frontend/src/app/shared/modules/issues/issue-details/issue-details-page/issue-details-page.component.ts
Labels: enhancement, frontend

#265 Feature/rework stackoverflow page
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/IssuesController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/MappingProfiles/IssueProfile.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IIssueService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/IssueService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/StackExchangeService.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/IssueSolution/IssueAnswer.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/IssueSolution/IssueAnswerDto.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/IssueSolution/IssueItemSoution.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/IssueSolution/IssueItemSoutionDto.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/IssueSolution/IssueSolutionDto.cs
  frontend/src/app/core/services/issue.service.ts
  frontend/src/app/shared/models/issue/issue-solution/issue-answer.ts
  frontend/src/app/shared/models/issue/issue-solution/issue-solution-item.ts
  frontend/src/app/shared/models/issue/issue-solution/issue-solution.ts
  frontend/src/app/shared/modules/issues/issue-details/issue-details-page/issue-details-page.component.html
  frontend/src/app/shared/modules/issues/issue-details/issue-details-page/issue-details-page.component.ts
  frontend/src/app/shared/modules/issues/issue-details/issue-details-page/solution/solution.component.html
  frontend/src/app/shared/modules/issues/issue-details/issue-details-page/solution/solution.component.sass
  frontend/src/app/shared/modules/issues/issue-details/issue-details-page/solution/solution.component.ts
  frontend/src/app/shared/modules/issues/issues.module.ts
Labels: enhancement, frontend, backend

#268 Fix bugs with test page
  frontend/src/app/modules/home/load-testing/tests/tests.component.html
  frontend/src/app/modules/home/load-testing/tests/tests.component.sass
Labels: bug

#273 Feature/redisign
  frontend/src/app/modules/authorization/authorization-page/authorization-page.component.html
  frontend/src/app/modules/authorization/authorization-page/authorization-page.component.sass
  frontend/src/app/modules/authorization/socials-login/socials-login.component.sass
  frontend/src/app/modules/landing/components/landing-content-item/landing-content-item.component.html
  frontend/src/app/modules/landing/components/landing-content-item/landing-content-item.component.sass
  frontend/src/app/modules/landing/components/landing-content-item/landing-content-item.component.ts
  frontend/src/app/modules/landing/components/landing-content/landing-content.component.html
  frontend/src/app/modules/landing/components/landing-content/landing-content.component.sass
  frontend/src/app/modules/landing/components/landing-content/landing-content.component.ts
  frontend/src/app/modules/landing/components/landing-demo/landing-demo.component.html
  frontend/src/app/modules/landing/components/landing-demo/landing-demo.component.sass
  frontend/src/app/modules/landing/components/landing-demo/landing-demo.component.ts
  frontend/src/app/modules/landing/components/landing-enterprise/landing-enterprise.component.html
  frontend/src/app/modules/landing/components/landing-enterprise/landing-enterprise.component.sass
  frontend/src/app/modules/landing/components/landing-enterprise/landing-enterprise.component.ts
  frontend/src/app/modules/landing/components/landing-footer/landing-footer.component.html
  frontend/src/app/modules/landing/components/landing-footer/landing-footer.component.sass
  frontend/src/app/modules/landing/components/landing-header/landing-header.component.html
  frontend/src/app/modules/landing/components/landing-header/landing-header.component.sass
  frontend/src/app/modules/landing/components/landing-page/landing-page.component.html
  frontend/src/app/modules/landing/components/landing-platforms/landing-platforms.component.html
  frontend/src/app/modules/landing/components/landing-platforms/landing-platforms.component.sass
  frontend/src/app/modules/landing/components/landing-platforms/landing-platforms.component.ts
  frontend/src/app/modules/landing/landing.module.ts
  frontend/src/app/modules/registration/registration-form/registration-form.component.html
  frontend/src/app/modules/registration/registration-form/registration-form.component.sass
  frontend/src/app/modules/registration/registration-page/registration-page.component.sass
  frontend/src/assets/assignee.png
  frontend/src/assets/balls.png
  frontend/src/assets/breadcrumbs.png
  frontend/src/assets/dashboards.png
  frontend/src/assets/error-monitoring.png
  frontend/src/assets/monitor-full.png
  frontend/src/assets/monitor.png
  frontend/src/assets/stackoverflow.png
  frontend/src/index.html
  frontend/src/styles/mixins.sass
Labels: frontend

#269 Fix tile menu styles
  frontend/src/app/modules/home/dashboard/tile-menu/tile-menu.component.sass
Labels: bug

#270 Change tabs order
  frontend/src/app/modules/home/projects/edit/edit.component.html
Labels: frontend, improvement

#272 Feature/implement emailer service
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/MembersController.cs
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/SampleController.cs
  backend/Watchdog.Core/Watchdog.Core.API/Extensions/ServiceCollectionExtensions.cs
  backend/Watchdog.Core/Watchdog.Core.API/appsettings.json
  backend/Watchdog.Core/Watchdog.Core.BLL/MappingProfiles/IssueProfile.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/MappingProfiles/MemberProfile.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IEmailSendService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IEmailerQueueProducerService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IMemberService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/EmailSendService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/IssueService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/MemberService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Queue/EmailerQueueProducerService.cs
  backend/Watchdog.Models.Shared/Emailer/TemplateData/AlertTemplate.cs
  backend/Watchdog.Models.Shared/Emailer/TemplateData/MemberInvitationTemplate.cs
  backend/Watchdog.Models.Shared/Watchdog.Models.Shared.csproj
Labels: enhancement, frontend, backend

#275 Add style to img
  frontend/src/app/shared/modules/issues/issue-details/issue-details-page/solution/solution.component.sass
Labels: bug

#276 Update invite members in teams and update solution sass
  frontend/src/app/modules/team/team-info/team-overlay/team-add-member/team-add-member.component.html
  frontend/src/app/shared/modules/issues/issue-details/issue-details-page/solution/solution.component.sass
Labels: bug

#277 Fix landing and facebook
  frontend/src/app/modules/authorization/socials-login/socials-login.component.html
  frontend/src/app/modules/landing/components/landing-content-item/landing-content-item.component.sass
  frontend/src/app/modules/landing/components/landing-enterprise/landing-enterprise.component.html
Labels: bug, frontend

#278 Elipsis when only when long name
  frontend/src/app/modules/team/teams/teams.component.sass
Labels: bug

#279 Add spinner for tile
  frontend/src/app/modules/home/dashboard/tiles/common-tile/common-tile.component.sass
  frontend/src/app/modules/home/dashboard/tiles/heat-map/heat-map.component.html
  frontend/src/app/modules/home/dashboard/tiles/heat-map/heat-map.component.ts
  frontend/src/app/modules/home/dashboard/tiles/issues-count-tile/issues-count-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/issues-count-tile/issues-count-tile.component.ts
  frontend/src/app/modules/home/dashboard/tiles/issues-per-time-tile/issues-per-time-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/issues-per-time-tile/issues-per-time-tile.component.ts
  frontend/src/app/modules/home/dashboard/tiles/most-common-countries-tile/most-common-countries-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/most-common-countries-tile/most-common-countries-tile.component.sass
  frontend/src/app/modules/home/dashboard/tiles/most-common-countries-tile/most-common-countries-tile.component.ts
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.sass
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.ts
  frontend/src/app/modules/home/dashboard/tiles/top-responses-time-tile/top-responses-time-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/top-responses-time-tile/top-responses-time-tile.component.sass
  frontend/src/app/modules/home/dashboard/tiles/top-responses-time-tile/top-responses-time-tile.component.ts
  frontend/src/app/modules/home/home.module.ts
  frontend/src/app/shared/shared.module.ts
Labels: bug

#281 Fixed bug with errors when joining organization
  frontend/src/app/modules/registration/registration-form/registration-form.component.html
Labels: bug, frontend

#282 Fix automatically add team
  frontend/src/app/modules/home/projects/create-project/create-project.component.ts
Labels: bug

#283 Fixed registration with provider bug
  frontend/src/app/modules/registration/registration-form/registration-form.component.html
  frontend/src/app/modules/registration/registration-form/registration-form.component.ts
Labels: bug, frontend

#284 Fix invite members
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/MemberService.cs
Labels: bug

#286 Fix align map
  frontend/src/app/modules/home/projects/project-analytics/project-analytics.component.sass
Labels: bug

#287 Fix/create projects
  frontend/src/app/modules/home/projects/create-project/create-project.component.ts
  frontend/src/app/modules/home/projects/edit/edit.component.html
  frontend/src/app/modules/home/projects/edit/edit.component.ts
Labels: bug

#289 Fix/create projects
  frontend/src/app/modules/home/projects/edit/edit.component.html
  frontend/src/app/modules/home/projects/edit/edit.component.ts
  frontend/src/app/shared/modules/issues/issue-details/issue-details-page/solution/solution.component.sass
  frontend/src/app/shared/modules/issues/issue-details/issue-details-page/solution/solution.component.ts
Labels: bug

#290 Show validation errors on password
  frontend/src/app/modules/registration/registration-form/registration-form.component.html
  frontend/src/app/modules/registration/registration-form/registration-form.component.ts
Labels: bug

#291 Feature/fix map size
  frontend/src/app/modules/home/projects/project-analytics/project-analytics.component.html
  frontend/src/app/modules/home/projects/project-analytics/project-analytics.component.ts
Labels: bug

#292 Fix/restrictions
  frontend/src/app/modules/team/team-info/team-info.component.ts
  frontend/src/app/modules/team/team-info/team-members/team-members.component.ts
  frontend/src/app/modules/team/team-info/team-projects/team-projects.component.ts
Labels: frontend

#293 Fix tiles loading
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/IssuesController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IIssueService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/IssueService.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/Issue/TopActiveIssuesFilter.cs
  frontend/src/app/core/services/issue.service.ts
  frontend/src/app/modules/home/dashboard/tiles/heat-map/heat-map.component.ts
  frontend/src/app/modules/home/dashboard/tiles/issues-per-time-tile/issues-per-time-tile.component.ts
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.ts
  frontend/src/app/shared/models/issue/top-active-issues-filter.ts
Labels: bug

#295 Fix issue spinner
  frontend/src/app/shared/modules/issues/issues.component.ts
Labels: bug, frontend

#296 Hotfix/backend issues displaying
  frontend/src/app/shared/modules/issues/issue-details/issue-details/issue-details.component.html
Labels: bug, frontend

#298 Feature/slug in email
  backend/Watchdog.Core/Watchdog.Core.BLL/MappingProfiles/OrganizationProfile.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/MemberService.cs
  backend/Watchdog.Models.Shared/Emailer/TemplateData/MemberInvitationTemplate.cs
Labels: enhancement, backend

#299 Fix configurations
  frontend/src/app/modules/home/projects/edit/configure/configurations/asp-net-core/asp-net-core.constants.ts
  frontend/src/app/modules/home/projects/edit/configure/configure-wrapper/configure-wrapper.component.html
Labels: bug, frontend

#303 Fix user page validation
  frontend/src/app/modules/user/components/user-profile-settings/user-profile-settings.component.html
  frontend/src/app/modules/user/components/user-profile-settings/user-profile-settings.component.ts
  frontend/src/app/modules/user/components/user-profile/user-profile.component.sass
Labels: bug, frontend

#304 Fix dashboard placeholder
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/dashboard.component.ts
Labels: bug, frontend

#305 Fix user no organizations
  frontend/src/app/modules/home/home-page/home-page.component.html
  frontend/src/app/modules/home/organization/create-organization/create-organization.component.html
  frontend/src/app/modules/home/organization/create-organization/create-organization.component.ts
  frontend/src/app/modules/home/organization/organization-menu/organization-menu.component.html
Labels: bug, frontend

#311 Feature/update modal create, join organization
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/OrganizationsController.cs
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/RegistrationController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IOrganizationService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IRegistrationService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/OrganizationService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/RegistrationService.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/Members/JoinToOrganizationDto.cs
  frontend/src/app/core/services/organization.service.ts
  frontend/src/app/core/services/registration.service.ts
  frontend/src/app/modules/home/home-page/home-page.component.ts
  frontend/src/app/modules/home/organization/create-organization/create-organization.component.html
  frontend/src/app/modules/home/organization/create-organization/create-organization.component.sass
  frontend/src/app/modules/home/organization/create-organization/create-organization.component.ts
  frontend/src/app/modules/home/organization/organization-menu/organization-menu.component.html
  frontend/src/app/shared/models/member/join-to-organization.ts
Labels: frontend, backend

#313 Feature/fix style
  frontend/src/app/modules/home/load-testing/test-result-page/test-result-page.component.html
  frontend/src/app/modules/home/load-testing/test-result-page/test-result-page.component.sass
Labels: bug

#314 Delete magic number and rename button
  frontend/src/app/modules/home/organization/create-organization/create-organization.component.html
  frontend/src/app/modules/home/organization/create-organization/create-organization.component.ts
Labels: bug

#316 Fix result styles
  frontend/src/app/modules/home/load-testing/test-result-page/test-result-page.component.sass
Labels: bug, frontend
