Repository BinaryStudioAcademy/bsa-2021-watchdog, pull requests merged in 2021-08, with the labels that each got.

#16 Feature/main page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/services/dashboard.service.ts
  frontend/src/app/core/services/share-data.service.ts
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/dashboard.component.sass
  frontend/src/app/modules/home/dashboard/dashboard.component.ts
  frontend/src/app/modules/home/home-page/home-page.component.html
  frontend/src/app/modules/home/home-page/home-page.component.sass
  frontend/src/app/modules/home/home-page/home-page.component.ts
  frontend/src/app/modules/home/home-routing.module.ts
  frontend/src/app/modules/home/home.module.ts
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.sass
  frontend/src/app/modules/home/issues/issues.component.ts
  frontend/src/app/modules/home/modals/add-dashboard/add-dashboard.component.html
  frontend/src/app/modules/home/modals/add-dashboard/add-dashboard.component.sass
  frontend/src/app/modules/home/modals/add-dashboard/add-dashboard.component.ts
  frontend/src/app/modules/home/modals/update-dashboard/update-dashboard.component.html
  frontend/src/app/modules/home/modals/update-dashboard/update-dashboard.component.sass
  frontend/src/app/modules/home/modals/update-dashboard/update-dashboard.component.ts
  frontend/src/app/modules/home/projects/projects.component.html
  frontend/src/app/modules/home/projects/projects.component.sass
  frontend/src/app/modules/home/projects/projects.component.ts
  frontend/src/app/shared/models/dashboard/Dashboard.ts
  frontend/src/app/shared/models/dashboard/NewDashboard.ts
  frontend/src/app/shared/models/dashboard/UpdateDashboard.ts
  frontend/src/app/shared/modules/prime-components/prime-components.module.ts
Labels: enhancement

#15 Feature/confirmation windows
  frontend/src/app/core/components/confirm-window/confirm-window.component.html
  frontend/src/app/core/components/confirm-window/confirm-window.component.sass
  frontend/src/app/core/components/confirm-window/confirm-window.component.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/services/confirm-window.service.ts
  frontend/src/app/shared/models/confirm-window/button-options.ts
  frontend/src/app/shared/models/confirm-window/confirm-options.ts
  frontend/src/app/shared/models/confirm-window/default-button-options.const.ts
  frontend/src/app/shared/modules/prime-components/prime-components.module.ts
Labels: enhancement

#17 Feature/sending emails
  README.md
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/SampleController.cs
  backend/Watchdog.Core/Watchdog.Core.API/Extensions/ServiceCollectionExtensions.cs
  backend/Watchdog.Core/Watchdog.Core.API/Startup.cs
  backend/Watchdog.Core/Watchdog.Core.API/appsettings.json
  backend/Watchdog.Core/Watchdog.Core.BLL/Models/ExampleTemplateData.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IEmailSendService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/EmailSendService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Options/EmailSendOptions.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Watchdog.Core.BLL.csproj
Labels: enhancement, help wanted

#18 Feature/main user page
  frontend/src/app/app-routing.module.ts
  frontend/src/app/core/interceptors/fake-backend.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/modules/user/components/user-password-settings/user-password-settings.component.html
  frontend/src/app/modules/user/components/user-password-settings/user-password-settings.component.sass
  frontend/src/app/modules/user/components/user-password-settings/user-password-settings.component.ts
  frontend/src/app/modules/user/components/user-profile-settings/user-profile-settings.component.html
  frontend/src/app/modules/user/components/user-profile-settings/user-profile-settings.component.sass
  frontend/src/app/modules/user/components/user-profile-settings/user-profile-settings.component.ts
  frontend/src/app/modules/user/components/user-profile/user-profile.component.html
  frontend/src/app/modules/user/components/user-profile/user-profile.component.sass
  frontend/src/app/modules/user/components/user-profile/user-profile.component.ts
  frontend/src/app/modules/user/styles/form.sass
  frontend/src/app/modules/user/styles/main-user.sass
  frontend/src/app/modules/user/styles/mixins.sass
  frontend/src/app/modules/user/styles/user.styles.sass
  frontend/src/app/modules/user/styles/variables.sass
  frontend/src/app/modules/user/user-routing.module.ts
  frontend/src/app/modules/user/user.module.ts
Labels: enhancement

#22 Projects and Create-project components
  frontend/src/app/modules/home/home-routing.module.ts
  frontend/src/app/modules/home/home.module.ts
  frontend/src/app/modules/home/projects/create-project/create-project.component.html
  frontend/src/app/modules/home/projects/create-project/create-project.component.sass
  frontend/src/app/modules/home/projects/create-project/create-project.component.ts
  frontend/src/app/modules/home/projects/fake-data.ts
  frontend/src/app/modules/home/projects/projects.component.html
  frontend/src/app/modules/home/projects/projects.component.sass
  frontend/src/app/modules/home/projects/projects.component.ts
  frontend/src/app/modules/home/projects/projects/projects.component.html
  frontend/src/app/modules/home/projects/projects/projects.component.sass
  frontend/src/app/modules/home/projects/projects/projects.component.ts
  frontend/src/app/shared/models/projects/alert-settings.ts
  frontend/src/app/shared/models/projects/platform.ts
  frontend/src/app/shared/models/projects/project.ts
  frontend/src/app/shared/models/projects/team.ts
  frontend/src/app/shared/modules/prime-components/prime-components.module.ts
Labels: help wanted

#25 Feature/issues page
  frontend/src/app/core/models/Option.ts
  frontend/src/app/modules/home/common-styles/mixins.sass
  frontend/src/app/modules/home/common-styles/variables.sass
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.sass
  frontend/src/app/modules/home/issues/issues.component.ts
  frontend/src/app/modules/home/modals/dashboard/dashboard-template.sass
  frontend/src/app/shared/models/issue/issue.ts
  frontend/src/app/shared/modules/prime-components/prime-components.module.ts
  frontend/src/app/shared/pipes/time-ago.pipe.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/styles/variables.sass
Labels: enhancement, frontend

#26 Dashboard tiles menu
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/dashboard.component.sass
  frontend/src/app/modules/home/dashboard/dashboard.component.ts
  frontend/src/app/modules/home/dashboard/tile-menu/tile-menu.component.html
  frontend/src/app/modules/home/dashboard/tile-menu/tile-menu.component.sass
  frontend/src/app/modules/home/dashboard/tile-menu/tile-menu.component.ts
  frontend/src/app/modules/home/home.module.ts
  frontend/src/app/shared/modules/prime-components/prime-components.module.ts
Labels: frontend

#27 Added disable-selection mixin and applied to styles
  frontend/src/app/modules/home/home-page/home-page.component.sass
  frontend/src/app/modules/home/projects/create-project/create-project.component.sass
  frontend/src/app/modules/home/projects/projects/projects.component.sass
  frontend/src/app/modules/landing/components/landing-content/landing-content.component.sass
  frontend/src/app/modules/landing/components/landing-header/landing-header.component.sass
  frontend/src/app/modules/landing/components/landing-platforms/landing-platforms.component.sass
  frontend/src/styles/mixins.sass
Labels: enhancement, frontend

#34 Fixed migrations issue
  backend/Watchdog.Core/Watchdog.Core.DAL/Migrations/20210808125710_UpdateDashboards.Designer.cs
  backend/Watchdog.Core/Watchdog.Core.DAL/Migrations/20210808125710_UpdateDashboards.cs
  backend/Watchdog.Core/Watchdog.Core.DAL/Migrations/WatchdogCoreContextModelSnapshot.cs
Labels: database

#37 Feature/confirmation dashboard deleting
  frontend/src/app/core/services/dashboard.service.ts
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/dashboard.component.ts
  frontend/src/app/modules/home/modals/dashboard/add-dashboard.component.ts
  frontend/src/app/modules/home/modals/dashboard/dashboard-template.html
  frontend/src/app/modules/home/modals/dashboard/dashboard-template.sass
  frontend/src/app/modules/home/modals/dashboard/update-dashboard.component.ts
Labels: enhancement, frontend

#43 Feature/dashboard styles
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/dashboard.component.ts
  frontend/src/app/modules/home/modals/dashboard/dashboard-template.html
  frontend/src/app/modules/home/modals/dashboard/dashboard-template.sass
Labels: enhancement, frontend

#45 Hotfix/authorization
  frontend/src/app/core/services/registration.service.ts
  frontend/src/app/core/services/registration.utils.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/modules/authorization/login-form/login-form.component.ts
  frontend/src/app/modules/home/modals/dashboard/add-dashboard.component.ts
  frontend/src/app/modules/home/modals/dashboard/update-dashboard.component.ts
  frontend/src/app/modules/home/organization/organization-settings/general-settings/general-settings.component.ts
  frontend/src/app/modules/home/projects/create-project/create-project.component.ts
  frontend/src/app/modules/registration/registration-form/registration-form.component.ts
  frontend/src/app/shared/constants/regexs.ts
Labels: frontend

#44 Feature/collect issues
  backend/Watchdog.Collector.Common/Models/HttpResponseErrorMessage.cs
  backend/Watchdog.Collector.Common/Models/IssueEnvironment.cs
  backend/Watchdog.Collector.Common/Models/IssueMessage.cs
  backend/Watchdog.Collector.Common/Models/IssueMessageDetails.cs
  backend/Watchdog.Collector.Common/Models/StackTrace.cs
  backend/Watchdog.Collector.Common/Watchdog.Collector.Common.csproj
  backend/Watchdog.Collector.sln
  backend/Watchdog.Collector/Watchdog.Collector.API/Controllers/IssuesController.cs
  backend/Watchdog.Collector/Watchdog.Collector.API/Extensions/ServiceCollectionExtensions.cs
  backend/Watchdog.Collector/Watchdog.Collector.API/Startup.cs
  backend/Watchdog.Collector/Watchdog.Collector.API/Watchdog.Collector.API.csproj
  backend/Watchdog.Collector/Watchdog.Collector.API/appsettings.json
  backend/Watchdog.Collector/Watchdog.Collector.BLL/Services/Abstract/IElasticWriteService.cs
  backend/Watchdog.Collector/Watchdog.Collector.BLL/Services/ElasticWriteService.cs
  backend/Watchdog.Collector/Watchdog.Collector.BLL/Watchdog.Collector.BLL.csproj
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/interceptors/error.interceptor.ts
  frontend/src/app/core/interceptors/watchdog.interceptor.ts
  frontend/src/app/core/services/errors.service.ts
  frontend/src/app/shared/models/issues/http-response.message.ts
  frontend/src/app/shared/models/issues/issue-environment.ts
  frontend/src/app/shared/models/issues/issue-message.details.ts
  frontend/src/app/shared/models/issues/issue-message.ts
  frontend/src/app/shared/models/issues/stack-trace.ts
Labels: frontend, backend

#40 Feature/user settings
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/UsersController.cs
  backend/Watchdog.Core/Watchdog.Core.API/Extensions/ServiceCollectionExtensions.cs
  backend/Watchdog.Core/Watchdog.Core.API/Startup.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/MappingProfiles/UserProfile.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IUserService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/UserService.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/User/UpdateUserDto.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/User/UserDto.cs
  frontend/src/app/core/models/userUpdate.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/modules/home/home-page/home-page.component.html
  frontend/src/app/modules/home/home-page/home-page.component.ts
  frontend/src/app/modules/user/components/user-profile-settings/user-profile-settings.component.html
  frontend/src/app/modules/user/components/user-profile-settings/user-profile-settings.component.ts
  frontend/src/app/modules/user/user.module.ts
Labels: frontend, backend, database

#47 Enhancements/signin sgnon components
  frontend/src/app/modules/authorization/authorization-page/authorization-page.component.html
  frontend/src/app/modules/authorization/authorization-page/authorization-page.component.sass
  frontend/src/app/modules/authorization/socials-login/socials-login.component.html
  frontend/src/app/modules/authorization/socials-login/socials-login.component.sass
  frontend/src/app/modules/registration/registration-form/registration-form.component.html
  frontend/src/app/modules/registration/registration-form/registration-form.component.sass
  frontend/src/app/modules/registration/registration-form/registration-form.component.ts
Labels: enhancement, frontend

#50 User service fix
  frontend/src/app/core/services/user.service.ts
Labels: bug

#52 Hotfix/dashboard validation
  backend/Watchdog.Core/Watchdog.Core.Common/Validators/Dashboard/NewDashboardDTOValidator.cs
  frontend/src/app/modules/home/dashboard/dashboard.component.sass
  frontend/src/app/modules/home/home-page/home-page.component.html
  frontend/src/app/modules/home/modals/dashboard/dashboard-template.html
  frontend/src/app/shared/constants/regexs.ts
  frontend/src/app/shared/directives/dashboard/tooltip-with-full-name.ts
  frontend/src/app/shared/shared.module.ts
Labels: frontend, backend

#55 Header fix bugs
  frontend/src/app/modules/home/home-page/home-page.component.sass
Labels: bug

#56 Hotfix/register menu items
  frontend/src/app/modules/registration/registration-form/registration-form.component.html
  frontend/src/app/shared/constants/regexs.ts
Labels: enhancement, frontend

#57 Hotfix/dashboard header
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/dashboard.component.sass
Labels: enhancement, frontend

#61 Update platform.service.ts
  frontend/src/app/core/services/platform.service.ts
Labels: bug, frontend

#62 Feature/organization reset save
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/OrganizationsController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/MappingProfiles/OrganizationProfile.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/Organization/SettingsOrganizationDto.cs
  frontend/src/app/core/services/organization.service.ts
  frontend/src/app/modules/home/home-page/home-page.component.html
  frontend/src/app/modules/home/home-page/home-page.component.sass
  frontend/src/app/modules/home/organization/organization-menu/organization-menu.component.html
  frontend/src/app/modules/home/organization/organization-menu/organization-menu.component.ts
  frontend/src/app/modules/home/organization/organization-menu/organization-menu.style.sass
  frontend/src/app/modules/home/organization/organization-settings/general-settings/general-settings.component.html
  frontend/src/app/modules/home/organization/organization-settings/general-settings/general-settings.component.ts
  frontend/src/app/modules/home/organization/organization-settings/membership-settings/membership-settings.component.html
  frontend/src/app/modules/home/organization/organization-settings/membership-settings/membership-settings.component.ts
  frontend/src/app/modules/home/organization/organization-settings/organization-settings.component.html
  frontend/src/app/modules/home/organization/organization-settings/organization-settings.component.ts
  frontend/src/app/modules/home/organization/organization-settings/organization-settings.style.sass
  frontend/src/app/shared/models/organization/organization-settings.ts
  frontend/src/app/shared/validators/unique-slug.validator.ts
  frontend/src/styles/variables.sass
Labels: frontend, backend

#65 Fix regexs and validators
  backend/Watchdog.Core/Watchdog.Core.Common/Validators/Registration/FullRegistrationDtoValidator.cs
  frontend/src/app/app-routing.module.ts
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/modules/authorization/authorization-page/authorization-page.component.html
  frontend/src/app/modules/authorization/login-form/login-form.component.html
  frontend/src/app/modules/authorization/login-form/login-form.component.ts
  frontend/src/app/modules/authorization/socials-login/socials-login.component.ts
  frontend/src/app/modules/home/home-page/home-page.component.html
  frontend/src/app/modules/landing/components/landing-demo/landing-demo.component.html
  frontend/src/app/modules/landing/components/landing-header/landing-header.component.html
  frontend/src/app/modules/registration/registration-form/registration-form.component.html
  frontend/src/app/modules/registration/registration-form/registration-form.component.sass
  frontend/src/app/modules/registration/registration-form/registration-form.component.ts
  frontend/src/app/shared/constants/regexs.ts
Labels: bug, frontend

#64 Feature/issues grid enhancements
  backend/Watchdog.All.sln
  frontend/src/app/core/models/Option.ts
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.sass
  frontend/src/app/modules/home/issues/issues.component.ts
Labels: enhancement, frontend

#67 Fix hovers and content of landing page
  frontend/src/app/modules/landing/components/landing-content-item/landing-content-item.component.html
  frontend/src/app/modules/landing/components/landing-content-item/landing-content-item.component.sass
  frontend/src/app/modules/landing/components/landing-content/landing-content.component.ts
  frontend/src/app/modules/landing/components/landing-demo/landing-demo.component.sass
  frontend/src/app/modules/landing/components/landing-footer/landing-footer.component.html
  frontend/src/app/modules/landing/components/landing-footer/landing-footer.component.sass
  frontend/src/app/modules/landing/components/landing-header/landing-header.component.html
  frontend/src/app/modules/landing/components/landing-header/landing-header.component.sass
Labels: bug

#66 Fix date output
  frontend/src/app/modules/home/issues/issues.component.html
Labels: bug, frontend

#71 HotFix! Removed HttpResponse from team service
  frontend/src/app/core/services/team.service.ts
  frontend/src/app/modules/home/projects/create-project/create-project.component.ts
  frontend/src/app/modules/team/teams/other-teams/other-teams.component.ts
  frontend/src/app/modules/team/teams/teams.component.ts
  frontend/src/app/modules/team/teams/user-teams/user-teams.component.ts
Labels: bug, frontend

#70 Feature/put add dashboard under items
  frontend/src/app/modules/home/home-page/home-page.component.html
  frontend/src/app/modules/home/home-page/home-page.component.sass
Labels: enhancement, frontend

#75 Hotfix/create team
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/MembersController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IMemberService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/MemberService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/TeamService.cs
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/core/services/member.service.ts
  frontend/src/app/modules/home/projects/create-project/create-project.component.ts
  frontend/src/app/modules/team/teams/other-teams/other-teams.component.ts
  frontend/src/app/modules/team/teams/teams.component.html
  frontend/src/app/modules/team/teams/teams.component.ts
  frontend/src/app/modules/team/teams/user-teams/user-teams.component.ts
Labels: bug, frontend, backend

#78 Fixed styles
  frontend/src/app/modules/home/dashboard/tile-menu/tile-menu.component.html
  frontend/src/app/modules/home/dashboard/tile-menu/tile-menu.component.sass
Labels: bug, frontend

#77 Unauthorized guard and some fixes
  frontend/src/app/app-routing.module.ts
  frontend/src/app/core/guards/auth.guard.ts
  frontend/src/app/core/guards/unauthorized.guard.ts
  frontend/src/app/modules/authorization/authorization-page/authorization-page.component.html
  frontend/src/app/modules/authorization/authorization-page/authorization-page.component.sass
  frontend/src/app/modules/home/home-page/home-page.component.html
  frontend/src/app/modules/landing/components/landing-header/landing-header.component.html
  frontend/src/app/modules/registration/registration-form/registration-form.component.html
  frontend/src/app/modules/registration/registration-page/registration-page.component.html
  frontend/src/app/modules/registration/registration-page/registration-page.component.sass
Labels: enhancement, frontend

#76 Fix: Toast Notifications
  frontend/src/app/core/components/toast-notification/toast-notification.component.html
  frontend/src/app/core/components/toast-notification/toast-notification.component.sass
  frontend/src/app/core/interceptors/error.interceptor.ts
  frontend/src/app/core/services/toast-notification.service.ts
Labels: bug, enhancement, frontend

#81 Feature/user settings move
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/modules/home/home-page/home-page.component.ts
  frontend/src/app/modules/home/home-routing.module.ts
  frontend/src/app/modules/user/components/user-password-settings/user-password-settings.component.html
  frontend/src/app/modules/user/components/user-password-settings/user-password-settings.component.sass
  frontend/src/app/modules/user/components/user-password-settings/user-password-settings.component.ts
  frontend/src/app/modules/user/components/user-profile-settings/user-profile-settings.component.html
  frontend/src/app/modules/user/components/user-profile-settings/user-profile-settings.component.sass
  frontend/src/app/modules/user/components/user-profile-settings/user-profile-settings.component.ts
  frontend/src/app/modules/user/components/user-profile/user-profile.component.html
  frontend/src/app/modules/user/components/user-profile/user-profile.component.sass
  frontend/src/app/modules/user/components/user-profile/user-profile.component.ts
  frontend/src/app/modules/user/styles/form.sass
  frontend/src/app/modules/user/styles/mixins.sass
  frontend/src/app/modules/user/styles/user.styles.sass
Labels: frontend

#80 Fix notification spam
  frontend/src/app/core/services/errors.service.ts
Labels: bug

#83 Fix input height
  frontend/src/app/modules/authorization/login-form/login-form.component.sass
  frontend/src/app/modules/home/projects/create-project/create-project.component.sass
  frontend/src/app/modules/registration/registration-form/registration-form.component.sass
  frontend/src/styles/variables.sass
Labels: bug, frontend

#84 Hotfix/redirect to new dashboard after adding
  frontend/src/app/modules/home/home-page/home-page.component.sass
  frontend/src/app/modules/home/home-page/home-page.component.ts
  frontend/src/app/modules/home/modals/tiles/top-active-issues/add-edit-top-active-issues-tile/add-edit-top-active-issues-tile.component.html
  frontend/src/app/modules/home/projects/create-project/create-project.component.html
  frontend/src/app/modules/home/projects/projects/projects.component.html
  frontend/src/app/modules/team/create-team/create-team.component.html
  frontend/src/app/modules/team/teams/teams.component.html
Labels: enhancement, frontend

#86 Update buttons styles
  frontend/src/app/modules/home/organization/organization-settings/organization-settings.component.html
  frontend/src/app/modules/home/projects/create-project/create-project.component.html
  frontend/src/app/modules/team/team-info/team-info.component.html
  frontend/src/styles/index.sass
Labels: bug, frontend

#85 Feature/organization redesign
  frontend/src/app/modules/home/home-page/home-page.component.html
  frontend/src/app/modules/home/organization/organization-menu/organization-menu.component.html
  frontend/src/app/modules/home/organization/organization-menu/organization-menu.component.ts
  frontend/src/app/modules/home/organization/organization-menu/organization-menu.style.sass
  frontend/src/app/shared/directives/dashboard/tooltip-with-full-name.ts
Labels: enhancement, frontend

#87 Fix input tile height
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.sass
Labels: bug, frontend

#88 Hotfix/create project team assign
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/ApplicationService.cs
  frontend/src/app/modules/team/teams/other-teams/other-teams.component.html
  frontend/src/app/modules/team/teams/user-teams/user-teams.component.html
Labels: bug, frontend, backend

#89 Fix buttons styles
  frontend/src/app/modules/authorization/login-form/login-form.component.html
  frontend/src/app/modules/registration/registration-form/registration-form.component.html
Labels: bug, frontend

#91 Change dashdoard dropdown to grid
  frontend/src/app/modules/home/dashboard/dashboard.component.sass
  frontend/src/app/modules/home/modals/dashboard/add-dashboard.component.ts
  frontend/src/app/modules/home/modals/dashboard/dashboard-template.html
  frontend/src/app/modules/home/modals/dashboard/dashboard-template.sass
  frontend/src/app/modules/home/modals/dashboard/update-dashboard.component.ts
Labels: enhancement, frontend

#95 Feature/page not found
  frontend/src/app/app-routing.module.ts
  frontend/src/app/shared/components/not-found/not-found.component.html
  frontend/src/app/shared/components/not-found/not-found.component.sass
  frontend/src/assets/no-items-big.png
  frontend/src/assets/no-items-medium.png
  frontend/src/assets/no-items-small-291-163.png
  frontend/src/assets/no-items-small-385-217.png
  frontend/src/assets/page-not-found.png
Labels: frontend

#97 Feature/group issues
  backend/Watchdog.Collector/Watchdog.Collector.API/Controllers/IssuesController.cs
  backend/Watchdog.Collector/Watchdog.Collector.BLL/Services/Abstract/IElasticWriteService.cs
  backend/Watchdog.Collector/Watchdog.Collector.BLL/Services/ElasticWriteService.cs
  backend/Watchdog.Collector/Watchdog.Collector.Common/Models/IssueMessage.cs
  backend/Watchdog.Collector/Watchdog.Collector.Common/Models/IssueMessageDetails.cs
  backend/Watchdog.Collector/Watchdog.Collector.Common/Models/StackFrame.cs
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/IssuesController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IIssueService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/IssueService.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/Issue/IssueInfoDto.cs
  backend/Watchdog.Core/Watchdog.Core.Common/Models/Issue/IssueMessage.cs
  backend/Watchdog.Core/Watchdog.Core.Common/Models/Issue/IssueMessageDetails.cs
  backend/Watchdog.Core/Watchdog.Core.Common/Models/Issue/StackFrame.cs
  frontend/src/app/core/services/errors.service.ts
  frontend/src/app/core/services/issue.service.ts
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/dashboard.component.sass
  frontend/src/app/modules/home/dashboard/dashboard.component.ts
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.sass
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.ts
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.sass
  frontend/src/app/modules/home/issues/issues.component.ts
  frontend/src/app/modules/home/modals/tiles/top-active-issues/add-edit-top-active-issues-tile/add-edit-top-active-issues-tile.component.ts
  frontend/src/app/shared/models/issue/http-response.message.ts
  frontend/src/app/shared/models/issue/issue-details.ts
  frontend/src/app/shared/models/issue/issue-environment.ts
  frontend/src/app/shared/models/issue/issue-info.ts
  frontend/src/app/shared/models/issue/issue-message.ts
  frontend/src/app/shared/models/issue/issue.ts
  frontend/src/app/shared/models/issue/stack-frame.ts
  frontend/src/app/shared/models/issues/issue-message.details.ts
  frontend/src/app/shared/models/issues/issue-message.ts
  frontend/src/styles/variables.sass
Labels: frontend, backend

#99 Feature/fix organization slug in registration
  frontend/src/app/modules/registration/registration-form/registration-form.component.html
  frontend/src/app/modules/registration/registration-form/registration-form.component.ts
  frontend/src/app/shared/models/organization/newOrganizationsWithSlug.ts
  frontend/src/app/shared/validators/unique-slug-in-registration.validator.ts
Labels: bug

#100 Hotfix/change spinner
  frontend/src/app/core/services/dialogs/tile-dialog.service.ts
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/dashboard.component.ts
  frontend/src/app/modules/team/teams/other-teams/other-teams.component.html
  frontend/src/app/modules/team/teams/user-teams/user-teams.component.html
  frontend/src/app/shared/components/loading-spinner/loading-spinner.component.html
  frontend/src/app/shared/components/loading-spinner/loading-spinner.component.ts
  frontend/src/styles/loader.sass
Labels: frontend

#101 Hotfix/new user identification
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/UsersController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/UserService.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/User/UserDto.cs
  frontend/src/app/core/interceptors/error.interceptor.ts
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/core/services/user.service.ts
Labels: enhancement, frontend, backend

#98 Feature/edit user settings
  frontend/src/app/modules/user/components/user-password-settings/user-password-settings.component.html
  frontend/src/app/modules/user/components/user-profile-settings/user-profile-settings.component.html
  frontend/src/app/modules/user/components/user-profile/user-profile.component.sass
Labels: bug

#96 Fix paginators visible
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.ts
Labels: bug

#104 Add overflow-x for scrolling
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.sass
Labels: bug

#106 Feature/fix landing
  frontend/src/app/app-routing.module.ts
Labels: bug, frontend

#109 Issue details page
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/IssuesController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IIssueService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/IssueService.cs
  frontend/src/app/core/services/issue.service.ts
  frontend/src/app/modules/home/dashboard/dashboard.component.sass
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.ts
  frontend/src/app/modules/home/home-page/home-page.component.ts
  frontend/src/app/modules/home/home-routing.module.ts
  frontend/src/app/modules/home/home.module.ts
  frontend/src/app/modules/home/issues/issue-details/issue-details-page/issue-details-page.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-details-page/issue-details-page.component.sass
  frontend/src/app/modules/home/issues/issue-details/issue-details-page/issue-details-page.component.ts
  frontend/src/app/modules/home/issues/issue-details/issue-details/issue-details.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-details/issue-details.component.sass
  frontend/src/app/modules/home/issues/issue-details/issue-details/issue-details.component.ts
  frontend/src/app/modules/home/issues/issue-details/issue-environment/issue-environment.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-environment/issue-environment.component.sass
  frontend/src/app/modules/home/issues/issue-details/issue-environment/issue-environment.component.ts
  frontend/src/app/modules/home/issues/issue-details/issue-events/issue-events.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-events/issue-events.component.sass
  frontend/src/app/modules/home/issues/issue-details/issue-events/issue-events.component.ts
  frontend/src/app/modules/home/issues/issue-details/issue-http/issue-http.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-http/issue-http.component.sass
  frontend/src/app/modules/home/issues/issue-details/issue-http/issue-http.component.ts
  frontend/src/app/modules/home/issues/issues-routing.module.ts
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.sass
  frontend/src/app/modules/home/issues/issues.component.ts
  frontend/src/app/modules/home/issues/issues.module.ts
  frontend/src/app/shared/models/issue/issue-message.ts
  frontend/src/styles/variables.sass
Labels: enhancement, frontend, backend

#108 Feature/add assignee
  backend/Watchdog.Collector/Watchdog.Collector.API/Extensions/ServiceCollectionExtensions.cs
  backend/Watchdog.Collector/Watchdog.Collector.BLL/Services/ElasticWriteService.cs
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/IssuesController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IIssueService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/IssueService.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/Issue/AssigneeDto.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/Issue/IssueInfoDto.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/Issue/UpdateAssigneeDto.cs
  backend/Watchdog.Core/Watchdog.Core.Common/Models/Issue/Assignee.cs
  backend/Watchdog.Core/Watchdog.Core.Common/Models/Issue/Issue.cs
  frontend/src/app/core/services/issue.service.ts
  frontend/src/app/core/services/issues.utils.ts
  frontend/src/app/modules/home/issues/assignee/assignee.component.html
  frontend/src/app/modules/home/issues/assignee/assignee.component.sass
  frontend/src/app/modules/home/issues/assignee/assignee.component.ts
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.sass
  frontend/src/app/modules/home/issues/issues.component.ts
  frontend/src/app/modules/home/issues/issues.module.ts
  frontend/src/app/modules/members/invite/invite.component.ts
  frontend/src/app/shared/models/issue/assignee.ts
  frontend/src/app/shared/models/issue/assigneeOptions.ts
  frontend/src/app/shared/models/issue/issue-info.ts
  frontend/src/app/shared/models/issue/updateAssignee.ts
  frontend/src/app/shared/modules/prime-components/prime-components.module.ts
Labels: enhancement, frontend, backend

#110 Feature/add component for charts
  frontend/src/app/shared/components/charts/charts.component.html
  frontend/src/app/shared/components/charts/charts.component.sass
  frontend/src/app/shared/components/charts/charts.component.ts
  frontend/src/app/shared/components/charts/temp-data.ts
  frontend/src/app/shared/models/charts/chart-options.ts
  frontend/src/app/shared/models/charts/color-scheme.ts
  frontend/src/app/shared/models/charts/multi-chart.ts
  frontend/src/app/shared/models/charts/single-chart.ts
  frontend/src/app/shared/shared.module.ts
Labels: enhancement, frontend

#112 Hotfix/display only one spinner
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/dashboard.component.ts
  frontend/src/app/modules/home/issues/issue-details/issue-details-page/issue-details-page.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-details-page/issue-details-page.component.ts
  frontend/src/app/modules/home/issues/issue-details/issue-events/issue-events.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-events/issue-events.component.ts
  frontend/src/app/modules/home/organization/organization-settings/organization-settings.component.html
  frontend/src/app/modules/home/organization/organization-settings/organization-settings.component.ts
  frontend/src/app/modules/home/projects/create-project/create-project.component.html
  frontend/src/app/modules/home/projects/create-project/create-project.component.ts
  frontend/src/app/modules/home/projects/projects/projects.component.html
  frontend/src/app/modules/home/projects/projects/projects.component.ts
  frontend/src/app/modules/members/members-page/members-page.component.html
  frontend/src/app/modules/members/members-page/members-page.component.ts
  frontend/src/app/modules/team/team-info/team-info.component.html
  frontend/src/app/modules/team/team-info/team-info.component.ts
  frontend/src/app/modules/team/team-info/team-members/team-members.component.html
  frontend/src/app/modules/team/team-info/team-members/team-members.component.ts
  frontend/src/app/modules/team/team-info/team-projects/team-projects.component.html
  frontend/src/app/modules/team/team-info/team-projects/team-projects.component.ts
  frontend/src/app/modules/team/team-info/team-settings/team-settings.component.html
  frontend/src/app/modules/team/team-info/team-settings/team-settings.component.ts
  frontend/src/app/modules/team/teams/other-teams/other-teams.component.html
  frontend/src/app/modules/team/teams/other-teams/other-teams.component.ts
  frontend/src/app/modules/team/teams/teams.component.html
  frontend/src/app/modules/team/teams/teams.component.ts
  frontend/src/app/modules/team/teams/user-teams/user-teams.component.html
  frontend/src/app/modules/team/teams/user-teams/user-teams.component.ts
Labels: bug, frontend

#114 Issue fix
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/IssueService.cs
  frontend/src/app/modules/home/issues/issue-details/issue-details-page/issue-details-page.component.html
Labels: bug, frontend, backend

#105 Feature/fix user settings
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/UsersController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IUserService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/UserService.cs
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/modules/user/components/user-password-settings/user-password-settings.component.ts
  frontend/src/app/modules/user/components/user-profile-settings/user-profile-settings.component.html
  frontend/src/app/modules/user/components/user-profile-settings/user-profile-settings.component.ts
  frontend/src/app/modules/user/components/user-profile/user-profile.component.html
  frontend/src/app/modules/user/components/user-profile/user-profile.component.ts
  frontend/src/app/shared/validators/change-email-validator.validator.ts
Labels: bug, frontend, backend

#120 Change project name to project description
  frontend/src/app/modules/home/projects/create-project/create-project.component.html
Labels: bug, frontend

#121 Removed duplicate message, added not found variable
  frontend/src/app/modules/home/issues/issue-details/issue-details-page/issue-details-page.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-details-page/issue-details-page.component.ts
  frontend/src/app/modules/home/issues/issue-details/issue-details/issue-details.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-details/issue-details.component.sass
Labels: bug, frontend

#118 Change placeholder
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/dashboard.component.sass
  frontend/src/app/shared/components/no-content-placeholder/no-content-placeholder.html
  frontend/src/app/shared/components/no-content-placeholder/no-content-placeholder.sass
  frontend/src/app/shared/components/no-content-placeholder/no-content-placeholder.ts
  frontend/src/app/shared/shared.module.ts
Labels: frontend

#124 Fixed undefined id in frontend issues
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Queue/CollectorQueueConsumerService.cs
  backend/Watchdog.Notifier/Watchdog.Notifier.Common/Models/IssueMessage.cs
Labels: bug, frontend, backend

#123 Redisign organization-menu
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/core/services/member.service.ts
  frontend/src/app/core/services/organization.service.ts
  frontend/src/app/modules/home/home-page/home-page.component.html
  frontend/src/app/modules/home/home-page/home-page.component.sass
  frontend/src/app/modules/home/issues/issues.component.sass
  frontend/src/app/modules/home/organization/organization-menu/organization-menu.component.html
  frontend/src/app/modules/home/organization/organization-menu/organization-menu.component.ts
  frontend/src/app/modules/home/organization/organization-menu/organization-menu.style.sass
  frontend/src/styles/mixins.sass
  frontend/src/styles/variables.sass
Labels: bug, enhancement, frontend

#127 Fixed issue indexing
  backend/Watchdog.Collector/Watchdog.Collector.BLL/Services/ElasticWriteService.cs
  backend/Watchdog.Collector/Watchdog.Collector.Common/Models/IssueMessage.cs
Labels: bug, backend

#130 Fix inviting member
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/MembersController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IMemberService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/MemberService.cs
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/modules/members/invite/invite.component.ts
Labels: bug, frontend

#132 Moved tile header into separate component, some fixes
  backend/Watchdog.Collector/Watchdog.Collector.API/Controllers/IssuesController.cs
  frontend/src/app/core/services/tile.service.ts
  frontend/src/app/core/utils/tile.utils.ts
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/dashboard.component.sass
  frontend/src/app/modules/home/dashboard/dashboard.component.ts
  frontend/src/app/modules/home/dashboard/tile-menu/tile-menu.component.ts
  frontend/src/app/modules/home/dashboard/tiles/tile-header/tile-header.component.html
  frontend/src/app/modules/home/dashboard/tiles/tile-header/tile-header.component.sass
  frontend/src/app/modules/home/dashboard/tiles/tile-header/tile-header.component.ts
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.sass
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.ts
  frontend/src/app/modules/home/home.module.ts
  frontend/src/app/modules/home/issues/issue-details/issue-details/issue-details.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-details/issue-details.component.sass
  frontend/src/app/modules/home/modals/tiles/top-active-issues/add-edit-top-active-issues-tile/add-edit-top-active-issues-tile.component.ts
Labels: enhancement, frontend

#119 Feature/gather backend errors
  backend/Watchdog.All.sln
  backend/Watchdog.AspNetCore/ApplicationBuilderExtensions.cs
  backend/Watchdog.AspNetCore/Builders/WatchdogAspNetCoreRequestMessageBuilder.cs
  backend/Watchdog.AspNetCore/Builders/WatchdogAspNetCoreResponseMessageBuilder.cs
  backend/Watchdog.AspNetCore/IWatchdogAspNetCoreClientProvider.cs
  backend/Watchdog.AspNetCore/Watchdog.AspNetCore.csproj
  backend/Watchdog.AspNetCore/WatchdogAspNetMiddleware.cs
  backend/Watchdog.AspNetCore/WatchdogClient.cs
  backend/Watchdog.AspNetCore/WatchdogClientProvider.cs
  backend/Watchdog.AspNetCore/WatchdogMiddlewareSettings.cs
  backend/Watchdog.AspNetCore/WatchdogSettings.cs
  backend/Watchdog.Collector/Watchdog.Collector.API/Controllers/IssuesController.cs
  backend/Watchdog.Collector/Watchdog.Collector.API/Extensions/ServiceCollectionExtensions.cs
  backend/Watchdog.Collector/Watchdog.Collector.API/Startup.cs
  backend/Watchdog.Collector/Watchdog.Collector.API/Watchdog.Collector.API.csproj
  backend/Watchdog.Collector/Watchdog.Collector.API/appsettings.Development.json
  backend/Watchdog.Collector/Watchdog.Collector.BLL/MappingProfiles/IssueProfile.cs
  backend/Watchdog.Collector/Watchdog.Collector.BLL/Services/Abstract/IElasticWriteService.cs
  backend/Watchdog.Collector/Watchdog.Collector.BLL/Services/ElasticWriteService.cs
  backend/Watchdog.Collector/Watchdog.Collector.BLL/Watchdog.Collector.BLL.csproj
  backend/Watchdog.Core/Watchdog.Core.API/Startup.cs
  backend/Watchdog.Core/Watchdog.Core.API/Watchdog.Core.API.csproj
  backend/Watchdog.Core/Watchdog.Core.API/appsettings.Development.json
  backend/Watchdog.NetCore.Common/Builders/WatchdogEnvironmentBuilder.cs
  backend/Watchdog.NetCore.Common/Builders/WatchdogErrorMessageBuilder.cs
  backend/Watchdog.NetCore.Common/Builders/WatchdogMessageBuilder.cs
  backend/Watchdog.NetCore.Common/IWatchdogMessageBuilder.cs
  backend/Watchdog.NetCore.Common/Messages/WatchdogEnvironmentMessage.cs
  backend/Watchdog.NetCore.Common/Messages/WatchdogErrorMessage.cs
  backend/Watchdog.NetCore.Common/Messages/WatchdogErrorStackTraceLineMessage.cs
  backend/Watchdog.NetCore.Common/Messages/WatchdogMessage.cs
  backend/Watchdog.NetCore.Common/Messages/WatchdogMessageDetails.cs
  backend/Watchdog.NetCore.Common/Messages/WatchdogRequestMessage.cs
  backend/Watchdog.NetCore.Common/Messages/WatchdogResponseMessage.cs
  backend/Watchdog.NetCore.Common/Watchdog.NetCore.Common.csproj
  backend/Watchdog.NetCore.Common/WatchdogClientBase.cs
  backend/Watchdog.NetCore.Common/WatchdogSettingsBase.cs
  backend/Watchdog.Notifier/Watchdog.Notifier.API/Startup.cs
  backend/Watchdog.Notifier/Watchdog.Notifier.API/Watchdog.Notifier.API.csproj
  backend/Watchdog.Notifier/Watchdog.Notifier.API/appsettings.Development.json
  frontend/src/app/modules/home/issues/issue-details/issue-details/issue-details.component.html
Labels: enhancement, backend

#140 Text overflow on projects page/route to issue on tile
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.html
  frontend/src/app/modules/home/projects/projects/projects.component.sass
Labels: bug

#141 Delete buttons
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.ts
Labels: bug, frontend

#143 Hotfix/add ability to chose chart type
  frontend/src/app/shared/components/charts/charts.component.html
  frontend/src/app/shared/components/charts/charts.component.ts
  frontend/src/app/shared/models/charts/chart-type.ts
  frontend/src/app/shared/models/charts/map.ts
Labels: enhancement, frontend

#147 Fix: add ability to add project description with new line
  frontend/src/app/shared/constants/regexs.ts
Labels: bug

#145 Update header and button
  frontend/src/app/modules/home/projects/create-project/create-project.component.html
  frontend/src/app/modules/home/projects/create-project/create-project.component.sass
Labels: enhancement, frontend

#148 Add text overflow and tooltip full name
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.html
  frontend/src/app/modules/home/dashboard/tiles/top-active-issues-tile/top-active-issues-tile.component.sass
Labels: bug, frontend

#139 Add create organization modal
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/OrganizationsController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IOrganizationService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/ApplicationService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/OrganizationService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/RegistrationService.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/Organization/NewOrganizationDto.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/Organization/RegOrganizationDto.cs
  backend/Watchdog.Core/Watchdog.Core.Common/Validators/Organization/NewOrganizationDtoValidator.cs
  backend/Watchdog.Core/Watchdog.Core.Common/Validators/Registration/FullRegistrationDtoValidator.cs
  backend/Watchdog.Core/Watchdog.Core.Common/Validators/Registration/PartialRegistrationDtoValidator.cs
  frontend/src/app/core/services/authentication.service.ts
  frontend/src/app/core/services/organization.service.ts
  frontend/src/app/core/services/registration.service.ts
  frontend/src/app/modules/home/organization/create-organization/create-organization.component.html
  frontend/src/app/modules/home/organization/create-organization/create-organization.component.sass
  frontend/src/app/modules/home/organization/create-organization/create-organization.component.ts
  frontend/src/app/modules/home/organization/organization-menu/organization-menu.component.html
  frontend/src/app/modules/home/organization/organization-menu/organization-menu.component.ts
  frontend/src/app/modules/home/organization/organization-menu/organization-menu.style.sass
  frontend/src/app/modules/home/organization/organization-settings/general-settings/general-settings.component.ts
  frontend/src/app/modules/home/organization/organization.module.ts
  frontend/src/app/modules/registration/DTO/full-registration-dto.ts
  frontend/src/app/modules/registration/DTO/fullRegistrationDto.ts
  frontend/src/app/modules/registration/DTO/new-user-dto.ts
  frontend/src/app/modules/registration/DTO/partial-registration-dto.ts
  frontend/src/app/modules/registration/DTO/reg-organization-dto.ts
  frontend/src/app/modules/registration/registration-form/registration-form.component.ts
  frontend/src/app/shared/models/organization/new-organization.ts
  frontend/src/app/shared/models/organization/new-organizations-with-slug.ts
  frontend/src/app/shared/validators/unique-slug-in-registration.validator.ts
  frontend/src/app/shared/validators/unique-slug.validator.ts
  frontend/src/styles/variables.sass
Labels: enhancement, frontend

#144 Feature/dashboard fix name
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/DashboardController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IDashboardService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/DashboardService.cs
  frontend/src/app/core/services/dashboard.service.ts
  frontend/src/app/modules/home/modals/dashboard/add-dashboard.component.ts
  frontend/src/app/modules/home/modals/dashboard/dashboard-template.html
  frontend/src/app/shared/validators/unique-dashboard-name.validator.ts
Labels: bug

#149 Remade placeholder
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/shared/components/no-content-placeholder/no-content-placeholder.html
  frontend/src/app/shared/components/no-content-placeholder/no-content-placeholder.sass
  frontend/src/app/shared/components/no-content-placeholder/no-content-placeholder.ts
  frontend/src/assets/darker-no-items-small-385-217.png
Labels: bug, enhancement, frontend

#146 Feature/fix project create name
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/ApplicationsController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IApplicationService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/ApplicationService.cs
  frontend/src/app/core/services/project.service.ts
  frontend/src/app/modules/home/projects/create-project/create-project.component.html
  frontend/src/app/modules/home/projects/create-project/create-project.component.ts
  frontend/src/app/shared/validators/unique-project-name.validator.ts
Labels: bug

#135 Feature/fix organizations owner
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/MemberService.cs
  frontend/src/app/modules/home/organization/organization-settings/membership-settings/membership-settings.component.ts
  frontend/src/app/modules/members/invite/invite.component.ts
  frontend/src/app/modules/members/members-page/members-page.component.html
  frontend/src/app/modules/members/members-page/members-page.component.ts
  frontend/src/app/shared/constants/membersRoles.ts
Labels: bug

#136 Feature/redesign team info
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/UsersController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IUserService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/ApplicationService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/UserService.cs
  frontend/src/app/core/services/issues.utils.ts
  frontend/src/app/core/services/member.service.ts
  frontend/src/app/modules/home/issues/assignee/assignee.component.html
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.ts
  frontend/src/app/modules/team/create-team/create-team.component.html
  frontend/src/app/modules/team/create-team/create-team.component.sass
  frontend/src/app/modules/team/create-team/create-team.component.ts
  frontend/src/app/modules/team/team-info/team-info.component.sass
  frontend/src/app/modules/team/team-info/team-members/team-members.component.html
  frontend/src/app/modules/team/team-info/team-overlay/team-add-member/team-add-member.component.html
  frontend/src/app/modules/team/team-info/team-overlay/team-add-member/team-add-member.component.ts
  frontend/src/app/modules/team/team-info/team-overlay/team-add-project/team-add-project.component.html
  frontend/src/app/modules/team/team-info/team-overlay/team-overlay.style.sass
  frontend/src/app/modules/team/team-info/team-projects/team-projects.component.html
  frontend/src/app/modules/team/team-info/team-settings/team-settings.component.sass
  frontend/src/app/modules/team/team-info/team-settings/team-settings.component.ts
  frontend/src/app/modules/team/team.style.sass
  frontend/src/app/modules/team/teams/other-teams/other-teams.component.html
  frontend/src/app/modules/team/teams/other-teams/other-teams.component.ts
  frontend/src/app/modules/team/teams/teams-panel.template.html
  frontend/src/app/modules/team/teams/teams.component.html
  frontend/src/app/modules/team/teams/teams.component.ts
  frontend/src/app/modules/team/teams/user-teams/user-teams.component.ts
  frontend/src/app/shared/pipes/team-name-avatar.pipe.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/shared/validators/unique-team-name.validator.ts
  frontend/src/styles/variables.sass
Labels: enhancement, frontend, backend

#152 Fix breadcrums changing and current label to current event
  frontend/src/app/modules/home/issues/issue-details/breadcrumbs/breadcrumbs.component.ts
  frontend/src/app/modules/home/issues/issue-details/issue-events/issue-events.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-events/issue-events.component.sass
Labels: bug, frontend

#151 Add cursor poiner
  frontend/src/app/modules/team/team-info/team-overlay/team-overlay.style.sass
Labels: bug

#154 Fix datetimes
  backend/Watchdog.AspNetCore/WatchdogClient.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Extensions/DateTimeExtensions.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/DashboardService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/OrganizationService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/RegistrationService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/TeamService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/TileService.cs
  backend/Watchdog.Core/Watchdog.Core.DAL/Context/EntityConfigurations/ApplicationConfig.cs
  backend/Watchdog.Core/Watchdog.Core.DAL/Context/EntityConfigurations/DashboardConfig.cs
  backend/Watchdog.Core/Watchdog.Core.DAL/Context/EntityConfigurations/EventMessageConfig.cs
  backend/Watchdog.Core/Watchdog.Core.DAL/Context/EntityConfigurations/MemberConfig.cs
  backend/Watchdog.Core/Watchdog.Core.DAL/Context/EntityConfigurations/OrganizationConfig.cs
  backend/Watchdog.Core/Watchdog.Core.DAL/Context/EntityConfigurations/TeamConfig.cs
  backend/Watchdog.Core/Watchdog.Core.DAL/Context/EntityConfigurations/TileConfig.cs
  backend/Watchdog.Core/Watchdog.Core.DAL/Context/EntityConfigurations/UserConfig.cs
  backend/Watchdog.NetCore.Common/Builders/WatchdogEnvironmentBuilder.cs
  backend/Watchdog.NetCore.Common/WatchdogClientBase.cs
Labels: bug, backend, database

#188 Fix collector endpoint for dev mode.
  frontend/src/main.ts
Labels: bug, frontend

#189 Rename application to project at placeholder
  frontend/src/app/modules/home/modals/tiles/issues-per-time/add-edit-issues-per-time-tile/add-edit-issues-per-time-tile.component.html
  frontend/src/app/modules/home/modals/tiles/top-active-issues/add-edit-top-active-issues-tile/add-edit-top-active-issues-tile.component.html
Labels: bug, frontend

#192 Fix lazy loading
  frontend/src/app/core/services/issue.service.ts
  frontend/src/app/modules/home/issues/issue-details/issue-events/issue-events.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-events/issue-events.component.ts
  frontend/src/app/modules/home/issues/issues.component.html
  frontend/src/app/modules/home/issues/issues.component.ts
  frontend/src/app/modules/members/members-page/members-page.component.html
  frontend/src/app/modules/members/members-page/members-page.component.ts
Labels: bug, frontend

#193 Fix member role
  frontend/src/app/modules/members/members-page/members-page.component.html
  frontend/src/app/modules/members/members-page/members-page.component.ts
Labels: bug

#194 Fix start of lazy loading
  frontend/src/app/modules/home/issues/issues.component.ts
Labels: bug, frontend

#186 Add filter by organization
  backend/Watchdog.Core/Watchdog.Core.API/Controllers/MembersController.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IMemberService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/MemberService.cs
  frontend/src/app/core/services/member.service.ts
  frontend/src/app/modules/home/organization/organization-settings/organization-settings.component.ts
Labels: bug, backend

#190 Hotfix/project page
  frontend/src/app/modules/home/projects/create-project/create-project.component.html
  frontend/src/app/modules/home/projects/create-project/create-project.component.sass
  frontend/src/app/modules/home/projects/create-project/create-project.component.ts
  frontend/src/app/modules/home/projects/edit/edit.component.html
  frontend/src/app/modules/home/projects/edit/edit.component.sass
  frontend/src/app/modules/home/projects/edit/project-general/project-general.component.html
  frontend/src/app/shared/validators/unique-project-name.validator.ts
Labels: bug, frontend

#185 Hotfix/dashboard modal width
  frontend/src/app/modules/home/dashboard/dashboard.component.html
  frontend/src/app/modules/home/dashboard/dashboard.component.ts
  frontend/src/app/modules/home/home-page/home-page.component.html
  frontend/src/app/modules/home/home-page/home-page.component.ts
  frontend/src/app/modules/home/modals/dashboard/add-dashboard.component.ts
  frontend/src/app/modules/home/modals/dashboard/dashboard-template.html
  frontend/src/app/modules/home/modals/dashboard/dashboard-template.sass
  frontend/src/app/modules/home/modals/dashboard/icons-list.ts
  frontend/src/app/modules/home/modals/dashboard/update-dashboard.component.ts
  frontend/src/styles/variables.sass
Labels: bug, frontend

#197 Hotfix/realtime fix change org
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IMemberService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/INotifyQueueProducerService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Abstract/IUserService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/MemberService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Queue/CollectorQueueConsumerService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/Queue/NotifyQueueProducerService.cs
  backend/Watchdog.Core/Watchdog.Core.BLL/Services/UserService.cs
  backend/Watchdog.Core/Watchdog.Core.Common/DTO/Issue/IssueQueueMessageDto.cs
  backend/Watchdog.Notifier/Watchdog.Notifier.API/Startup.cs
  backend/Watchdog.Notifier/Watchdog.Notifier.BLL/Hubs/IssuesHub.cs
  backend/Watchdog.Notifier/Watchdog.Notifier.BLL/Services/CoreIssuesQueueConsumerService.cs
  backend/Watchdog.Notifier/Watchdog.Notifier.BLL/Watchdog.Notifier.BLL.csproj
  backend/Watchdog.Notifier/Watchdog.Notifier.Common/DTO/IssueQueueMessageDto.cs
  frontend/src/app/core/hubs/issues-hub.service.ts
  frontend/src/app/core/hubs/signalr-hub-factory.service.ts
  frontend/src/app/modules/home/home-page/home-page.component.ts
Labels: bug, frontend, backend

#184 Feature/backend issues displaying
  backend/Watchdog.Collector/Watchdog.Collector.API/Startup.cs
  backend/Watchdog.Collector/Watchdog.Collector.API/Watchdog.Collector.API.csproj
  backend/Watchdog.Collector/Watchdog.Collector.BLL/MappingProfiles/IssueProfile.cs
  backend/Watchdog.Collector/Watchdog.Collector.BLL/Watchdog.Collector.BLL.csproj
  backend/Watchdog.Core/Watchdog.Core.API/Middlewares/GenericExceptionHandlerMiddleware.cs
  backend/Watchdog.Core/Watchdog.Core.API/Startup.cs
  backend/Watchdog.Core/Watchdog.Core.API/Watchdog.Core.API.csproj
  backend/Watchdog.Core/Watchdog.Core.DAL/Watchdog.Core.DAL.csproj
  backend/Watchdog.Models.Shared/Issues/HttpResponseErrorMessage.cs
  backend/Watchdog.Models.Shared/Issues/IssueEnvironment.cs
  backend/Watchdog.Notifier/Watchdog.Notifier.API/Startup.cs
  backend/Watchdog.Notifier/Watchdog.Notifier.API/Watchdog.Notifier.API.csproj
  frontend/src/app/modules/home/issues/issue-details/issue-details/issue-details.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-details/issue-details.component.sass
  frontend/src/app/modules/home/issues/issue-details/issue-environment/issue-environment.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-http/issue-http.component.html
  frontend/src/app/modules/home/issues/issue-details/issue-http/issue-http.component.sass
  frontend/src/app/modules/home/projects/edit/configure/configurations/asp-net-core/asp-net-core.component.html
  frontend/src/app/modules/home/projects/edit/configure/configurations/asp-net-core/asp-net-core.component.ts
  frontend/src/app/modules/home/projects/edit/configure/configurations/asp-net-core/asp-net-core.constants.ts
  frontend/src/app/shared/models/issue/http-response.message.ts
  frontend/src/app/shared/models/issue/issue-environment.ts
  frontend/src/app/shared/models/issue/stack-frame.ts
  frontend/src/styles/variables.sass
Labels: enhancement, frontend, backend

#202 Feature/backend issues displaying
  backend/Watchdog.Models.Shared/Issues/StackFrame.cs
Labels: enhancement
